<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <!-- NEVER ADD THIS LINE AGAIN AFTER 7/29 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <p>
    {{ name }}
    </p>
    <button v-on:click="changeMessage()">
      Click me
    </button>

    <input type="text" v-model="name">
    <p><button v-on:click="toggleInfo()">Toggle the info</button></p>
    <p v-if="showInfo">Here is some more info</p>
  </div>
  <script src="index.js"></script>
</body>
</html>
